<style>

body{
  background-color:white;
}

  .col-xs-12{
    background-color: white;
    border: 1px solid #C1CDCD;
    border-top: hidden;
    color: black;
    height: 100px;
  }

  .col-xs-6{
    background-color: yellow;
    border: 2px solid black;
    color: black;
  }

  .col-xs-4{
    background-image: url(<%= asset_path 'online-recycling-computer.jpg' %>);
    background-size: 100% 100%;
    color: white;
    height: 150px;
  }

  .col-xs-8{
    background-color: white;
    color: black;
    height: 150px;
  }

   .col-xs-7{
    background-image: url(<%= asset_path 'blue-background.jpg' %>);
    background-size: cover 100% 100%;
    color: white;
    height: 200px;
    text-align: left;
  }

  .col-xs-5{
    background-color: white;
    color: black;
    height: 200px;
  }

    .footer .col-sm-4{
    background-color: purple;
    border: 2px solid black;
    color: white;
    height: 100px;
  }

</style>


<!-- Ordering Classes:
        .col-##-push-##: pushes columns
        .col-##-pull-##: pulls columns

      Responsive Utility Classes: they hide and show content on your screen depending on which device you style for.

        .visible-##: your content will only be visible on that screen size
        .hidden-##: your content will only be hidden on that screen size
      -->


<div class="container">

  <div class="row">

    <div class="col-xs-7">

      <h1 class="visible-lg">Meet RoadRunner</h1>
      <h1 class="visible-md">Meet RoadRunner</h1>
      <h2 class="visible-sm">Meet RoadRunner</h2>
      <h4 class="visible-xs">Meet RoadRunner</h4>

      <p class="visible-lg visible-md visible-sm" style="text-align:left;color:#C1CDCD;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean leo lectus, tempus non blandit sit amet, dictum et metus. Pellentesque sit amet nisl adipiscing, elementum metus et, gravida urna. Aenean nisi elit, cursus eu venenatis et, feugiat eget tellus.</p>

      <p class="visible-xs" style="font-size:.75em;text-align:left;color=#C1CDCD;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean leo lectus, tePellentesque sit amet nisl adipiscing. Adipiscing, elementum metus et, tempus non blandit sit amet.<mpus non blandit sit amet, dictum et metus. /p>

    </div>

    <div class="col-xs-5">

      <h3 style="text-align:center;">Quick Links</h3>

      <% if user_signed_in? %>
        # do something
      <% else %>
       <p class="visible-xs"style="text-align:center;margin-top:10px;">
         <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-sm" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-sm" %>
       </p>
       <p class="visible-sm"style="text-align:center;margin-top:30px;">
         <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-md" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-sm" %>
       </p>
       <p class="visible-lg visible-md"style="text-align:center;margin-top:20px;">
         <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
       </p>
      <% end %>  
      
      <div style="position: relative;" class="quicklinks">
        <p><span style="color:#FFC443;"class="glyphicon glyphicon-circle-arrow-right"></span> Visit the RR Learning Center</p>
        <p><span class="glyphicon glyphicon-circle-arrow-right"></span> Make an appointment</p>
        <p><span class="glyphicon glyphicon-circle-arrow-right"></span> Learn more about RR services</p>
      </div>

    </div>

  </div>

  <div class="row">

    <div class="col-xs-12">

      <h3 class="visible-xs">Extra Small Screens</h3>
      <h2 class="visible-sm">Small Screens</h2>
      <h2 class="visible-md">Medium Screens</h2>
      <h1 class="visible-lg">Large Screens</h1>

    </div>

  </div>

  <div class="row">

    <div class="col-sm-6">

        <div class="row">

          <div class="col-xs-4">
            
          </div>

          <div class="col-xs-8 visible-lg visible-md">
            <h3 style="font-size:.9em;">Easy Online Account MGMT</h3>   
            <p style="margin-top:10px;">Suspendisse iaculis sagittis lorem quis tincidunt. Integer et nibh eros. Mauris non neque ac mi euismod hendrerit. Sed eget lobortis mi. Aliquam ac metus a lacus ornare commodo. Maecenas eu magna vel justo condimentum sollicitudin. Pellentesque dui ligula, tempus et tincidunt ac, aliquam in nisl.</p>
          </div>

          <div style="margin-top:10px;" class="col-xs-8 visible-xs visible-sm">     
            <p>Suspendisse iaculis sagittis lorem quis tincidunt. Integer et nibh eros. Mauris non neque ac mi euismod hendrerit.</p>
          </div>

        </div>    
    </div>

    <div class="col-sm-6">

        <div class="row">

          <div style="margin-bottom:10px;" class="col-xs-4 col-md-push-8">
          
          </div>
          <div style="margin-top:9px;" class="col-xs-8 col-md-pull-4">     
              <p>Suspendisse iaculis sagittis lorem quis tincidunt. Integer et nibh eros. Mauris non neque ac mi euismod hendrerit. Sed eget lobortis mi. Aliquam ac metus a lacus ornare commodo.</p>
          </div>

        </div>    
    </div>

  </div>


<div class="row footer">

  <div class="col-sm-4">
    col-sm-4
  </div>

  <div class="col-sm-4">
    col-sm-4
  </div>

  <div class="col-sm-4">
    col-sm-4
  </div>


</div>

<div class="row">

  <div class="col-md-4 col-md-offset-4 panel">
    This div is offset 4
  </div>

</div>

</div>
